* {
  margin: 0
  font-family: 'Calibri', 'Roboto', sans-serif;
  border-radius: 0 !important;
  text-justify: justify;
}

body {
  font-weight: 150;
  padding-top: 70px;
}

header {
  padding: 0;
  color: #000000;
  margin: 10px,0,0,0;
  background-color:transparent !important; 
  font-family: 'EB Garamond', serif;
}

.jumbotron {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  height: 100%;
  margin: auto;
  background-color:transparent !important; 
}

.jumbotron h1 {
  font-size: 28px;
  letter-spacing: 0.10em;
}

.jumbotron p {
  font-size: 16px;
  line-height: 250%;
  margin: 25px;
  font-family: 'EB Garamond', serif;
}

footer .row {
  display: flex;
}

header h1 {
  font-weight: 150px;
  margin: 0;
  position: left;
  white-space: nowrap;
  letter-spacing: 0.2em;
  left: 45px; 
}

header nav {
  display: flex;
  justify-content: flex-end;
  right: 30px;
}

header a:hover {
   font-family: 'EB Garamond', serif;
   color: red;
   text-decoration: none;
}

header p {
  padding: 20px;
  margin: 0;
  font-weight: 20px;
}

.image-container {
  height:350px;
  vertical-align: bottom;
  display: table-cell;
}

.image-container:hover {
  position: relative; 
  top: -1.5px;
  color: black;
}

.projects {
  font-weight: 550;
  font-size: 18px;
  color:#b5b5b5;
  letter-spacing: 0.05em;
}

section .row img {
  margin: 0;
  height: 200px;

}

.btn {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 20px 30px 20px 30px;
}

.btn img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  margin: 20px 30px 20px 30px;
}

.btn img.portrait {
  width: 100%;
  height: auto;
  
}



.col-md-6 {
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  margin: 70px 0px 0px 10px;
 }

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
  opacity: 0.8;
}

.link {
  color:#000000;
}

.contact {
  margin: 50px 0px 50px 0;
}

.about {
  margin: 50px 0px 50px 0;
}

@media screen and (max-width:1020px) {
	
    #container, #header, #content #footer {
    float: none;
    width: auto;
    margin: 0;
    }
    p h1 h2 h3 { 
    font-size: 2em; 
	}
    header nav {
	    float: center important!;
	    
}
